# Typescript
/build/*
!/build/img

# OSX
#
.DS_Store

# Android/IJ
#
*.iml
.idea
.gradle
local.properties

# node.js
#
node_modules/
!/node_modules/react-native-voice/android/src/main/java/com/wenkesj/voice/VoiceModule.java




